mysql_connect.php
admin/mysql_connect.php
search_methods/mysql_connect.php
sugg/mysql_connect.php
sugg/email_login.php
sugg/reset_pass.php
sugg/secret_key.php
custom_search/results_csv
example_searches
lit_rev/collect_citations/old
lit_rev/collect_citations/collect_citations.py
lit_rev/collect_citations/geckodriver.log
lit_rev/collect_citations/scholar.log
lit_rev/collect_citations/test_module.py
lit_rev/extract_citations/gs_results
lit_rev/extract_citations/pubmed_results
lit_rev/query_optimize/core_collection_articles.csv
lit_rev/query_optimize/combined_results
lit_rev/query_optimize/dataset
lit_rev/query_optimize/example
lit_rev/query_optimize/manual_inspection
lit_rev/query_results
sugg/PHPMailer
.DS_Store
access_db.php
.buildpath
.metadata
.project
.settings/
attachment
cache
error_log
hits.txt
figure
figure_pdf
